name: Publish to npm

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    environment: Release

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: "https://registry.npmjs.org/"

      - name: Install dependencies
        run: npm install
      
      - name: Build project
        run: npm run build

      - name: Bump version
        run: npm version patch --no-git-tag-version

      - name: Generate Changelog
        run: npx conventional-changelog -p angular -i CHANGELOG.md -s

      - name: Commit version and changelog
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          VERSION=$(node -p "require('./package.json').version")
          git commit -m "chore(release): v$VERSION"

      - name: Push changes
        run: git push

      - name: Create Git tag
        run: |
          VERSION=$(node -p "require('./package.json').version")
          git tag v$VERSION
          git push origin v$VERSION

      - name: Publish to npm
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
